{% extends "main.html" %}
<!-- 0. url, 1. first, 2. last, 3. hash, 4. classification, 5. reason, 6. note, 7. reported, 8. occurrences, 9. vt_stats -->

{% block content %}
<div class="edit">
    <div class="edit-wrap">
        <h2>Edit {{ url[0] }}</h2>
        <div class="form-wrap">
            <form method="POST">
                <label for="class">Classification:</label>
                <select name="class">
                    <option value="malicious" {% if url[4]=="malicious" %} selected {% endif %}> Malicious </option>
                    <option value="harmless" {% if url[4]=="harmless" %} selected {% endif %}>Harmless</option>
                    <option value="unreachable" {% if url[4]=="unreachable" %} selected {% endif %}>Unreachable</option>
                    <option value="unclassified" {% if url[4]=="unclassified" %} selected {% endif %}>Unclassified</option>
                    <option value="invalid" {% if url[4]=="invalid" %} selected {% endif %}>Invalid</option>
                    <option value="miner" {% if url[4]=="miner" %} selected {% endif %}>Miner</option>
                </select>
                <label for="reason">Clasification reason:</label>
                <input type="text" id="reason" name="reason" value={% if url[5]==""%}"Manual check" {% else %}"{{ url[5] }}"{% endif %}>
                <label for="lname">Note:</label>
                <input type="text" id="note" name="note" value="{% if url[6] %}{{ url[6] }}{% endif %}">
                <input type="submit" class="btn-style" value="Save">
            </form>
            <div class="back-buttons">
                <button class="back-btn btn-style" onclick="location.href='{{ url_for('detail', url=url[0], show=show)}}'">Detail</button>
                <button class="back-btn btn-style" onclick="location.href='{{ url_for('list_all', show=show)}}'">Back</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}